# Copy this file to .env.local and fill in values from `terraform output`
REACT_APP_AWS_REGION=ap-southeast-1
REACT_APP_COGNITO_USER_POOL_ID=ap-southeast-1_XXXXXXXXX
REACT_APP_COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
REACT_APP_API_URL=https://XXXXXXXXXX.execute-api.ap-southeast-1.amazonaws.com/prod
REACT_APP_WEBSOCKET_URL=wss://XXXXXXXXXX.execute-api.ap-southeast-1.amazonaws.com/prod
